<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" style="text-align: center;">
        <p>{%- include social.html -%}</p>
      </div>

      <div class="footer-col footer-col-2" style="text-align: center;">
        <p>Subscribe to the <a href="/feed.xml">RSS</a> feed.</p>
      </div>
      <div class="footer-col footer-col-3" style="text-align: center;">
        <p>Powered by <a href="https://github.com/dyskun/sencilla">Sencilla</a></p>
      </div>
    </div>
    </div>
</footer>
