{%- if site.author.email -%}
  <a class="nav-drop-link" href="mailto:{{ site.author.email }}"><i class="far fa-envelope"></i></a>                                   
{%- endif -%}

{%- if site.github -%}
<a class="nav-drop-link" href="https://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
{%- endif -%}

{%- if site.twitter -%}
<a class="nav-drop-link"  href="https://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
{%- endif -%}

{%- if site.facebook -%}
<a class="nav-drop-link"  href="https://facebook.com/{{ site.facebook }}"><i class="fab fa-facebook"></i></a>
{%- endif -%}

{%- if site.instagram -%}
<a class="nav-drop-link"  href="https://instagram.com/{{ site.instagram }}"><i class="fab fa-instagram"></i></a>
{%- endif -%}

{%- if site.linkedin -%}
<a class="nav-drop-link"  href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin"></i></a>
{%- endif -%}

