@charset "utf-8";


/* ************* content width *********** */

$nav-width:             1280px !default;
$content-width:         750px !default;
$home-content-width:    $nav-width !default;

$on-palm:          600px !default;
$on-tablet:        767px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


/* ********* text formatting ************* */

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;


/* ********* color definitions ************* */

/* main colors */
$lightest:         #ffffff;
$grey0:            #fafafa;
$grey1:            #f5f5f5;
$grey2:            #eeeeee;
$grey3:            #e0e0e0;
$grey4:            #bdbdbd;
$grey5:            #9e9e9e;
$grey6:            #757575;
$grey7:            #616161;
$grey8:            #424242;
$grey85:          #313131;
$grey9:            #212121;
$grey95:          #111111;
$darkest:          #000000;

/*  highlighting colors */
$green5:            #51cf66;
$yellow5:           #51cf66;
$teal5:             #20c997;
$lime7:             #afb42b;
$orange5:           #ff922b;
$cyan5:             #22b8cf;
$cyan7:             #1098ad;
$cyan9:             #006064;


/* ************ main color scheme ************ */

/* navbar */
$nav-bg:              $grey9 !default;  /* background */
$nav-hl:              $grey8 !default;  /* highlight on hover */
$nav-hl-dark:         $grey85 !default;
$nav-hl-light:        $grey7 !default;
$nav-dd:              $grey95 !default; /* dropdown */
$nav-text:            $grey3 !default;
$nav-text-muted:      $grey5 !default;

/* body */
$bg:                  $grey9 !default;
$text:                $grey5 !default;
$text-light:          $grey4 !default;
$text-dark:           $grey6 !default;

/* borders */
$stroke:              $grey8 !default;
$stroke-light:        $grey7 !default;
$stroke-dark:         $grey85 !default;

/* content box */
$box-fill:            $grey85 !default;
$box-fill-dark:       $grey95 !default;
$code:                $box-fill !default;

/* footer */
$footer-color:        $grey95 !default;

$text-muted:          $grey5;
//$profile-bg-color:          $grey8;

/* Brand color */

/*$brand:             $lime7;*/
$link:              $cyan5;
$link-muted:        $cyan7;
$link-hover:        $text-light;


/* ************ profile page color scheme ************** */

/* 
*
* dark bg
*
*/

/* bg color */
$dark-bg:             $grey9;

/* background shapes */
$dbg-shape:           $grey85;

/* text color */
$dbg-text:           $grey5;
$dbg-text-light:     $grey4;
$dbg-text-dark:      $grey6;
$dbg-text-muted:     $grey7;

/* 
* 
* light bg
* 
*/

/* bg color */
$light-bg:            $grey85;

/* shapes */
$lbg-shape:           $grey8;

/* text color */
$lbg-text:           $grey4;
$lbg-text-light:     $grey3;
$lbg-text-dark:      $grey5;
$lbg-text-muted:     $grey7;


/* ********** other elements of the text ************/

$table-text-align: left !default;

/* box shadows */
$shadow: 0px 1px 2px 0px $grey95;
$shadow-body: 0px 2px 4px 0px $grey95;
$shadow-hover: 0px 3px 3px 1px $grey95;


/* ********** import other files ************/
@import
  "sencilla/base",
  "sencilla/layout",
  "sencilla/syntax-highlighting"
;


