@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

// Define grey tones
/*
// Source: https://yeun.github.io/open-color/
$grey0:            #f8f9fa;
$grey1:            #f1f3f5;
$grey2:            #e9ecef;
$grey3:            #dee2e6;
$grey4:            #ced4da;
$grey5:            #adb5bd;
$grey6:            #868e96;
$grey7:            #495057;
$grey8:            #343a40;
$grey9:            #212529;
*/


// Source: https://material.io
$lightest:         #ffffff;
$grey0:            #fafafa;
$grey1:            #f5f5f5;
$grey2:            #eeeeee;
$grey3:            #e0e0e0;
$grey4:            #bdbdbd;
$grey5:            #9e9e9e;
$grey6:            #757575;
$grey7:            #616161;
$grey8:            #424242;
$grey85:          #313131;
$grey9:            #212121;
$grey95:          #111111;
$darkest:          #000000;

$nav-background-color:  $darkest !default;
$background-color:      $grey9 !default;
$text-color:            $grey5 !default;
$text-color-light:      $grey4 !default;
$text-color-dark:       $grey6 !default;
$stroke-color:          $grey7 !default;
$box-fill-color:       $grey85 !default;
$box-fill-color-dark:  $grey95 !default;

$table-text-align: left !default;

// Width of the content area
$nav-width:        1280px !default;
$content-width:    750px !default;

$on-palm:          600px !default;
$on-laptop:        750px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "sencilla/base",
  "sencilla/layout",
  "sencilla/syntax-highlighting"
;
