<!doctype html>                                                     
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <main class="page-content" aria-label=Content">
      <div class="wrapper">
        <div class="col-9 col-m-12 col-s-12">
          {{ content }}
        </div>
        <div class="col-3 col-m-12 col-s-12">
          {%- if site.sidebar_ad and page.ads -%}
            {%- include responsive-ad.html -%}
          {%- endif -%}
        </div>
      </div>
      <div class="wrapper">
        <div class="col-12 col-m-12 col-s-12">
          {%- if site.footer_ad and page.ads -%}
            {%- include responsive-ad.html -%}
          {%- endif -%}

        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
