<!DOCTYPE html>

  {%- include head.html -%}

  <body>

  {%- include header.html -%}

  <main class="page-content home-page" aria-label="Content">

    <div class="wrapper"> 

      <div class="col-3 col-m-12 col-s-12">

        <div class="profile-picture">
          <img src = "{{ site.profile_picture }}" alt="Profile picture">
        </div>

        <div class="social-links-home">
          {% include social.html %}
        </div>

      </div>

      <div class="col-9 col-m-12 col-s-12">
        {{ content }}
      </div>

    </div>

  </main>

    {%- include footer.html -%}

  </body>

</html>
